[build]
  command = "npm install"
  publish = "public"

[dev]
  command = "node server/server.js"
  targetPort = 3000
  publish = "public"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
